@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((
  text-basic-color: color-basic-800, // <- we setting color-basic-800 instead of color-basic-1000
  text-disabled-color: color-basic-600, // <- and color-basic-600 as instead of color-basic-500
), cosmic, cosmic);
